body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
}

.todo-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
}

h1 {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}

h2 {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN', sans-serif;
  font-size: 24px;
  margin: 20px 0;
}

.task_input {
  width: 70%;
  min-width: 300px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #c0c0c0;
  margin-right: 20px;
  padding: 0 15px;
}

.task-list {
  max-width: 300px;
  padding: 0 60px;
  margin: 30px auto 0;
}

.task-list li {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.task-list li:not(:last-child) {
  margin-bottom: 20px;
}

.task-list li p {
  font-size: 20px;
  margin-right: 30px;
}
 
input[type="checkbox"] {
  margin: 0 15px 0 0;
}

.input-area {
  width: 100%;
  text-align: center;
}

.delete-btn {
  display: block;
  margin-left: 30px;
}